<html>

<head>
<title> Snaps Against Humanity </title>
<link rel="stylesheet" type="text/css" href="static/main.css">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>

<body>
<div id="titletext">
    <h1> Snaps Against Humanity </h1> </div>
<div id="mainblock">
    <div id="form">
        <div>
            <h2> Sign Up! </h2>
        </div>
        <form action="submit" method="POST">
	    <div class="formrow">
                <label for="organizer"> Organizer </label>
                <input type="text" id="organizer" name="organizer">
            </div>
            <div class="formrow">
                <label for="participants"> Other Participants </label>
                <input type="text" id="participants" name="participants">
            </div>
            <div class="formrow">
                <input type="submit" value="Create Game">
            </div>
        </form>
    </div>
</div>
<div id="bottom_ban">
	<img src="/static/Bottom_banner.png" alt="hello" width=100%> 
</div>
</body>


</html>
