<html>

<head>
<title> Snaps Against Humanity - Disrupt so Hard </title>
<link rel="stylesheet" type="text/css" href="static/main.css">
</head>

<body>
<div id="mainblock">
    <div> Snaps Against Humanity </div>
    <div id="form">
        <form action="submit" method="POST">
            Organizer:
            <input type="text" name="organizer">

            Other Participants (Comma Separated):
            <input type="text" name="participants">
            <input type="submit" value="Submit">

        </form>
    </div>
</div>
</body>

</html>
